<header>
    <div class="header-top">
        <a href="/" class="logo"><img src="/img/logo-mercado-liebre.svg" class="img-logo" alt="Logo"></a>
        <div class="buscar">
            <input type="texto" name="busqueda" placeholder="Buscar productos, marcas...">
            <button type="search" class="btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <h2 class="frase-top">
            <i class="fas fa-hand-holding-usd">
            </i>Comprá en cuotas y sin tarjeta de
            crédito
        </h2>
    </div>
    <nav class="opciones">
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
            <li><a href="/ingresar">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <form action="" method="">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </form>
</header>